// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap"

#logo{
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url("Ruby_on_Rails_logo_small.png");
  background-size: cover;
  height: 650px;
}

.btn-xlarge{
  font-size: 1.7em;
  background-color:black;
  }
footer{
  marging-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer hover {
  color: #222;
  text-decoration: none;
}

footer small{
  float: left;
}

footer ul{
  float: left;
  list-style: none;
}

footer ur li {
  float: left;
  margin-left: 15px;
}

